<h1> index.html.erb </h1>
<table class="table">
<% @records.each do |e| %>
	<tr>
		<td><%= e.date %></td>
		<td><%= e.name %></td>
		<td><%= e.money %></td>
		<td><%=
			case e.pay_way
			when 0
				"cash"
			when 1
				"card"
			when 2
				"atm"
			end
			%>
		</td>
		<td>
			<%=
			(e.is_income) ? ("income"): ("      ")
			%>
		</td>		
		<td>
			<%= link_to 'Show', record_path(e) %>
			<%= link_to 'Edit',  edit_record_path(e) %>
			<%= link_to 'Delete',  record_path(e), :method => :delete %>
		</td>
	</tr>
<% end %>
</table>
<div>
<%= link_to 'New Event',new_record_path %>
</div>
<%= link_to 'log out', root_path %>